{{!-- デフォルト --}}
<button type="button" class="btn">ボタン</button>

{{!-- 汎用ボタン --}}
<button type="button" class="btn btn-gp">ボタン</button>

{{!-- フォームボタン --}}
<button type="button" class="btn btn-form">この内容で送信する</button>