<h1 class="ttl ttl-lev1">タイトルが入ります</h1>
<h2 class="ttl ttl-lev2">タイトルが入ります</h2>
<h3 class="ttl ttl-lev3">タイトルが入ります</h3>
<h4 class="ttl ttl-lev4">タイトルが入ります</h4>
<h5 class="ttl ttl-lev5">タイトルが入ります</h5>
<h6 class="ttl ttl-lev6">タイトルが入ります</h6>